.color_box {
  width: 100%;
}
.color_box_heading {
  font-weight: 500;
}
.color_rectangles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}
.color_input {
  margin: 0;
  height: 78px;
  width: 78px;
  padding: 0;
  overflow: hidden;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.color_input::-webkit-color-swatch {
  border-color: transparent;
  border-radius: 4px;
  overflow: hidden;
  outline: none;
}
.color_input_wrapper {
  display: flex;
  padding: 0 1px;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(43, 51, 59);
  border-radius: 6px;
  height: 80px;
  width: 80px;
  position: relative;
}
.color_input_wrapper:hover > .color_input_remove_button {
  display: flex;
}

.color_input_disabled {
  height: 70px;
  width: 70px;
  background-color: #1b2027;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  cursor: pointer;
}

.color_input_disabled_completly {
  height: 80px;
  width: 80px;
  background-color: #1b2027;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border-radius: 6px;
}

.color_input_remove_button {
  position: absolute;
  width: 78px;
  height: 30px;
  top: 78px;
  left: 0px;
  justify-content: center;
  align-items: center;
  display: none;
  cursor: pointer;
}
